<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media-queries.css">
   
    <title>Family Pets</title>
</head>

<body>
    <header>
        <h1>
            <a href="/">Family Pets</a>
        </h1>

        <!-- start navigation tags-->
        <nav>
            <ul>
                <li>
                    <a href="index.html#home">Home</a>
                    </li>
                <li>
                    <a href="whoWeAre.html#who-we-are">Who We Are</a>
                </li>
                <li>
                    <a href="whatWeDo.html#what-we-do">What We Do</a>
                </li>
                <li>
                    <a href="reachOut.html#reach-out-to-play">Reach Out</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- start 'reach out to play' section--->
    <section id="reach-out-to-play" class="contract">
        <div class="flex-row">
            <h2 class="section-title secondary-border">Reach Out To Play!</h2>
        </div>
        <div class="contact-info">
            <div>
                <h3>Ripley and Lexi's Family</h3>
                <p>Send your questions here if you need a quick response.
                    <br>
                    Looking foward to meeting your puppers!
                </p>

                <address>
                    12345 Our Street <br>
                    Some Town, OH 12345<br>
                    P: 123.456.7890 <br>
                    E: <a href:="mailto:info@PTG.com">info@family-pets.com</a>
                </address>
            </div>

            <div class="contact-form">
                <h3>Contact Ripley and Lexi's Humans: </h3>
                <form>
                    <label for="contact-name">Your Name</label>
                    <input type="text" id="contact-name" placeholder="Your Name" />

                    <label for="contact-message">Message</label>
                    <textarea id="contact-mssage" placeholder="Message"></textarea>

                    <button type="submit">Submit Message</button>
                </form>
            </div>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12182.30520634488!2d-74.0652613!3d40.2407219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1561060983193!5m2!1sen!2sus"
                frameborder="0" style="border: 4px solid rgb(180, 184, 190)" allowfullscreen>
            </iframe>
        </div>
    </section>

    <!-- footer-->
    <footer>
        <h2>Created by: Criste Phillips, B.S., M.S., Software Developer</h2>
        <div>
            <a href="./privacy-policy.html">Privacy Policy</a> <br>
            &copy; 2023 Criste Phillips
        </div>
    </footer>

</body>
</html>