<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media-queries.css">
   
    <title>Family Pets</title>
</head>

<body>
    <header>
        <h1>
            <a href="/">Family Pets</a>
        </h1>
        <!-- start navigation tags-->
        <nav>
            <ul>
                <li>
                    <a href="index.html#home">Home</a>
                    </li>
                <li>
                    <a href="whoWeAre.html#who-we-are">Who We Are</a>
                    </li>
                <li>
                    <a href="whatWeDo.html#what-we-do">What We Do</a>
                </li>
                <li>
                    <a href="reachOut.html#reach-out-to-play">Reach Out</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- 'who we are' section--->
    <section id="who-we-are">
        <div class="flex-row">
            <h2 class="section-title">Who We Are</h2>
        </div>

        <div class="ripley">
            <h3>Ripley</h3>
            <div class="ripley-info">
                <div class="ripley-img">
                    <img src="./assets/images/ripley-kitchen.png" alt="" />
                </div>
            </div>
            <div class="ripley-text">
                <li>6 years old Doberman female, not spayed</li>
                <li>Rocks out her purple collar</li>
            </div>
        </div>

        <div class="lexi">
            <h3>Lexi</h3>
            <div class="lexi-info">
                <div class="lexi-img">
                    <img src="./assets/images/lexi.jpg" alt="" />
                </div>
            </div>

            <div class="lexi-text">
                <li>3 years old Doberman spayed female</li>
                <li>Pretty in her pink collar</li>
            </div>
        </div>
    </section>

    <!-- footer-->
    <footer>
        <h2>Created by: Criste Phillips, B.S., M.S., Software Developer</h2>
        <div>
            <a href="./privacy-policy.html">Privacy Policy</a> <br>
            &copy; 2023 Criste Phillips
        </div>
    </footer>

</body>

</html>