/* MEDIA QUERY FOR DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1200px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }
  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }
  .hero-cta,
  .hero-form {
    width: 100%;
  }

  .hero-cta {
    text-align: center;
  }
  .section-title {
    width: 100%;
    flex: auto;
  }

  .contact-info iframe {
    flex: 1 100%;
  }
}

/* MEDIA QUERY FOR SMALL SCREENS AND LAPTOPS */
@media screen and (max-width: 1024px) {
  /* from above, to be sized*/

  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }
  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }
  .hero-cta,
  .hero-form {
    width: 100%;
  }

  .hero-cta {
    text-align: center;
  }
  .section-title {
    width: 100%;
    flex: auto;
  }

  .contact-info iframe {
    flex: 1 100%;
  }
}

/* MEDIA QUERY FOR iPADS, TABLETS */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .section-title {
    width: 100%;
    flex: auto;
  }


}

/* MEDIA QUERY FOR MOBILE DEVICES */
@media screen and (max-width: 480px) {
  .section-title {
    width: 100%;
    flex: auto;
  }
}
